    /* Global */

    /* Define @font-face rule */
    @font-face {
        font-family: 'NeueMontreal';
        src: url('{{public_path(/fonts/NeueMontreal-Regular.otf)}}') format('otf'),
        url('{{public_path(/fonts/NeueMontreal-Medium.otf)}}') format('otf'),
        url('{{public_path(/fonts/NeueMontreal-Bold.otf)}}') format('otf'); /* URL to your font file */
    }
    img {
        height: auto;
        display: block;
        max-width: 100%;
    }

    .blue-hover {
        border: 2px solid transparent;
        transition: 0.3s;
    }

    .blue-hover:hover {
        border: 2px solid #1663FF;
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
    }

    h1, 
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'NeueMontreal', sans-serif !important;
        font-weight: 700 !important;
    }


    
    /*Nav Bar*/

    /* */
    .new-page-item {
        border: 1px solid white;
        padding: 3px 10px 3px 10px;
        margin-left: 9px;
        background: white;
    }

    /* */
    .mobile_footer {
        display: none;
    }

    .fpage-title-container {
        text-align: center;
        padding: 50px;
    }

    .fpage-tick ul {
        list-style: none;
        padding: 0px;
    }

    .fpage-tick ul li:before {
        content: '✓';
        font-weight: bolder;
        padding: 3px;
        color: #046b30;
    }

    .fpage-investor-zone-img {
        height: 160px;

        float: right;
        border-radius: 10px;
    }

    .fpage-investor-zone-learn-more {
        text-align: center;
    }

    .fpage-investor-container {
        text-align: center;
        background: white;
        border: 2px solid darkgrey;
        padding: 4px;

    }

    .fpage-investor-zone-container-title {
        position: absolute;
        font-weight: bolder;
        color: #271072;

        opacity: 0.8;
        margin: 10px;
        padding: 11px;
    }

    .fpage-investor-zone-container-title .text {
        background: white;
        font-size: 20px;
        font-weight: bolder;
        padding: 7px;
    }

    table#funding_deals {
        background: white;
    }

    /*newsletter */


    .news-letter-date {
        margin-top: -8px;
        margin-bottom: 6px;

    }

    .news-letter-date span {
        font-weight: bold;

    }

    .news-letter-outer-container {
        padding-right: 0px;
        padding-left: 0px;

    }

    .newsletter-container {

        border: 2px solid #B8B8B8;
        background-color: black !important;
        margin: 4px;
        text-align: center;
        background-color: white;
        height: 200px;
        border-radius: 5px;
    }

    .newsletter-container:hover {
        box-shadow: 2px 2px 2px 2px #B8B8B8;
        ;
    }

    .newsletter-image-container {
        height: 130px;
        width: 100%;
    }

    .newsletter-image-container img {

        width: 100%;
    }

    .news-letter-outer-container a {
        color: white;
        padding-top: 5px;
    }

    .news-letter-outer-container a:hover {
        color: white;
    }

    .nwspage-investor-container {}

    .nws-page-investor-zone-title {
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 16px;
    }

    .nws-page-investor-zone-card {
        border: 1px solid #271072;
    }

    .nwspage-investor-zone-learn-more button {
        width: 95%;
    }

    .subscribe_componenet_alignment .row,
    .subscribe_componenet_alignment {

        display: flex;
        align-items: center;
        justify-content: center;

    }

    /* */

    /*Bit coin 101 */
    .fa.fa-star.checked {
        color: #eb8a2f;
    }

    .testomonial {
        margin: 10px;
        border: 1px none;
        /* text-align: center; */
        padding: 12px;
    }

    .review-name span {
        /* font-size: 14px; */
        font-weight: bold;
    }

    /* */


    /*Awards Page CSS*/

    /* award Menu */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #262626;
        min-width: 160px;
        color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown-content>li {
        width: 100%;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* */



    /*crypto 100 */
    .crypto-100-winner-container {
        border: 1px solid #B8B8B8;
        margin: 5px;
        padding: 5px;
        background-color: white;
        border-radius: 10px;
    }

    .crypto-100-winner-container:hover {
        box-shadow: 2px 2px 2px 2px #B8B8B8;
        ;
    }

    .card-bottom-space {
        margin-top: 21px;
    }

    .crypto-100-title-image {
        text-align: center;
        background-color: #000000;

    }

    .crypto-100-title-image img {

        width: 100%;
    }

    .crypto-100-head-info-container {

        border: 1px solid #B8B8B8;
        background-color: White;
    }

    .crypto-100-head-info-padding {
        padding: 20px;
    }


    .crytpo-title-head-info-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img.crypto-100-card-image {
        width: 95px;
        border-radius: 50%;
        border: 1px solid #B8B8B8;

    }

    .crypto-100-title {
        display: flex;
    }

    .crypto-100-customer-details {
        padding: 20px;
    }

    .crypto-100-img {
        padding: 5px;
    }

    .crypto-100-customer-details>.name {
        font-weight: 900;
        font-size: 22px;
        font-weight: bolder;
        /*font-family: "Roboto – San Sarif";
        text-shadow: 1px 0px; */
    }

    .crypto-100-postion {
        font-size: 100px;
        height: fit-content;
        font-family: Arial Black;
        font-weight: bold;
        opacity: 0.2;
        right: 40;
        top: 0px;
        position: absolute;
    }

    .crypto-100-description {
        padding: 7px;
        /* font-family: "Roboto – San Sarif"; */
    }

    /* */

    /*Bitcoin 101*/
    .bitcoin-101-buy-now {
        text-align: Center;
    }

    .bitcoin-101-buy-now a {
        font-size: 28px;
    }

    .bitcoin-101-buy-now a:hover {
        color: white;
    }

    .row.bitcoin-101-description {
        background: white;
        border: 2px solid #B8B8B8;
        padding: 5px;
        margin-top: 14px;
    }

    .row.bitcoin-101-description span {
        font-size: 17px;
        padding-left: 10px;
        font-weight: bold;
    }

    .row.bitcoin-101-description p {
        /* text-align: center; */
        padding: 10px;

        font-size: medium;
    }

    .testomonial {
        background: white;
        border: 2px none #B8B8B8;
    }


    .container.btc_101_container {
        /* padding: 5px; */
        margin-top: 13px;
        padding: 8px;
        background: white;
        border: 1px solid #B8B8B8;
    }

    /* */


    /* Universal */
    .crypto-button-blue {
        background-color: #3297f8;
        color: white;
    }

    .advartise_image {
        margin-top: 20px;
    }

    .crypto-text-color-blue {
        color: #3297f8;
    }

    .crypto-text-color-dark-blue {
        color: #271072
    }

    .crypto-background-white {
        background-color: white;
    }


    /*Flip Card*/

    .flip-card {
        backface-visibility: hidden;
        background-color: white;
        height: 200px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .flip-card-back h6 {
        font-weight: bolder;
        font-size: 18px;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: white;

    }

    .flip-card-back {
        background-color: white;

        font-size: 16px;
        text-align: left;
        padding: 10px;
        transform: rotateY(180deg);
    }

    .flip-card-back p {
        font-size: 15px;
    }

    .flip-card-back span {
        font-size: 16px;
        font-weight: bolder;
        /* margin: 8px; */
    }

    .flip-card-front.investor_zone_front_side img {
        width: 100%;
        height: 100%;

    }

    .row.investor_zone_crypto_list {
        padding: 10px;

    }

    .inverstor-zone-page-download-section {
        padding: 20px;

    }

    .investor-zone-page-our-customer {
        padding: 5px;
        margin: 5px;
    }

    .crypto-background-white.investor-zone-page-testomonial {
        padding: 20px;
    }

    .crypto-background-white.investor-zone-page-testomonial .heading {
        /* color: red; */
        font-weight: bold;
    }

    .crypto-background-white.investor-zone-page-testomonial img.title-img {
        height: 100px;
        border-radius: 50%;
        border: 1px solid;

    }

    .crypto-background-white.investor-zone-page-testomonial .user-title {

        color: gray;
    }


    .crypto-background-white.investor-zone-page-testomonial .user {
        text-align: right;
    }

    .investor-zone-page-crypto-list-title {
        margin-top: 20px;
    }

    /* */

    .container.investor_zone_block {
        background: white;
    }


    img.nw-image {
        width: 100%;


    }

    .domain-homepage-span {
        font-size: 15px;
        border: 1px solid;
        padding: 10px;
        border-radius: 10px;
        /* margin: 4px; */
        background: white;
        color: #3297f8;
        /* font-size: 15px; */
        font-weight: bolder;
        margin-top: 3px;
    }

    .text-center.investor-zone-page-our-customer img {
        height: 73px;
        margin-left: 10px;
        /* border: 1px solid gray; */
        padding: 6px
    }


    .crypto_feed_card {
        height: 300px;
        padding: 2px;
    }

    .crypto_feed_card iframe {
        height: 100%;
        padding: 10px;
    }

    .container.text-center.crypto_feed_tags {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container.text-center.crypto_feed_tags button {
        margin-left: 5px;
    }

    .row.crypto_feed_search img {
        float: right;
        /* text-align: revert; */
    }

    .crypto_feed_tag_button {
        background: white;
        border: 1px solid;
        border-radius: 13px;
        padding: 7px;
        font-size: 12px;
        /* margin-left: 6px; */
    }

    .crypto_250_company_image.text-center>img {

        height: auto;
        width: 150px;
        border: 1px solid white;
        padding: 19px;
    }



    h6.crypto_250_company_name {

        bottom: 0px;
        /* left: 40%; */
        background: gray;
        text-align: center;
        border: -25px;
        font-size: 20px;
        padding: 15px;
        width: 100%;
        font-weight: bold;
        margin-bottom: 0px;
        background: #050505;
        color: white;
    }

    .col-md-3.crypto_250_col_div .flip_card {
        border: 1px solid black;
    }

    .col-md-3.crypto_250_col_div {
        padding: 10px;

    }

    .col-md-3.crypto_250_col_div .flip-card-back p {
        font-size: 12px;
    }

    .title-img-color {
        background-color: #000000;
    }

    .popup button {
        margin-top: -13px !important;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(-100vw);
        }
    }

    @-webkit-keyframes marquee {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(-100vw);
        }
    }

    /*Pranav CSS */
    @media screen and (max-width: 600px) {

        .mobile_footer {
            display: block;

        }

        .mobile_footer_props {
            background-color: black;
        }

        footer {
            display: none;
        }

        .newsletter-popup-input {
            width: 200px !important;
            margin-bottom: 10px;
        }

        .newsletter-image-container>img {
            width: 100%;

        }

        .newsletter-container {
            background-color: #000000;
        }

        .home-page-widget-title {
            margin: 0;
        }

        .newsletter-container {
            margin-right: -30px !important;
        }

        #crypto_100 {
            margin: 0px;
        }

        .crypto-100-winner-container {
            margin-left: -30px !important;
            margin-right: -30px !important;
        }

        .crypto-100-postion {
            right: -5;
            top: 10;
            font-size: 60px;
        }

        h6.crypto_250_company_name {}

        .crypto-100-customer-details {
            padding-left: 5px;
        }

        .fpage-title-container {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }

        #fsearch {
            margin: 0px !important;
            margin-bottom: 10px !important;
        }

        .crypto_feed_search {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 8px !important;
        }

        .crypto_feed_search img {
            float: left !important;
            margin-bottom: 8px;
        }

        .navbar-toggler-icon {
            background-color: #B8B8B8 !important;
        }

        .custom_nav_bar_desktop {
            border: 0;
        }

        .crypto_feed_tag_button {
            margin-bottom: 5px;
        }

        .full_scale_menu li {
            width: 100%;
            text-align: left;
            padding-left: 15px;
        }

        .domains_list {
            margin: 0px !important;
            margin-top: 5px !important;
        }

        .flip-card {
            margin: 5px 0px;
        }

    }

    .navbar-toggle-icon {
        color: #fff;
        padding: 5px;
    }


    /* mobile footer css */
    .mobile_footer_props ul {
        width: 120px;
        margin: auto;
        text-align: center;
        border: 1px solid black;
    }

    .mobile_footer_props li {
        display: inline-block;
    }

    .mobile_footer_props {
        padding: 0px 10px 10px 10px;
    }

    .mobile_footer_props .card-header {
        padding: 5px;
    }

    .footer-menu-title {
        font-size: 14px !important;
    }

    .footer-social-media-mobile i {
        margin-right: 7px;
        font-size: 20px;
        color: #3297f8;
        padding: 7px;
        border: 1px solid #3297f8;
        background: white;
        border-radius: 10px;
    }

    /* subscribe box  */
    .ctct-inline-form {
        width: 85%;
    }

    .ctct-form-button {
        width: 20% !important;
        float: right;
        margin-top: -1.8%;
    }

    .ctct-gdpr-text {
        display: none;
    }

    .ctct-form-element input {
        height: 35px;
        width: 200px !important;
        border-radius: 7px;
        border: 1px solid gray;
        padding: 2px;
        width: 400px;
    }

    .ctct-form-embed form.ctct-form-custom input.ctct-form-element {
        width: 77% !important;
        float: left;
    }

    @media screen and (max-width: 600px) {
        .ctct-inline-form {
            width: 100%;
            margin-bottom: 10px;
        }

        .ctct-form-button {
            width: 29% !important;
            float: right;
            margin-top: -4%;
            padding: 6px 0px !important;
            font-size: 14px !important;
        }

        .ctct-gdpr-text {
            display: none;
        }

        .ctct-form-element input {
            height: 35px;
            width: 200px !important;
            border-radius: 7px;
            border: 1px solid gray;
            padding: 2px;
            width: 400px;
        }

        .ctct-form-embed form.ctct-form-custom input.ctct-form-element {
            width: 70% !important;
            float: left;
            height: 33px !important;
        }

        .ctct-form-embed div.ctct-form-defaults {
            padding: 15px 15px 0px 15px !important;
        }
    }

    /* sell your domain modal */
    .sell-your-domain-button {
        background-color: #0078c1;
        color: #fff;
        margin-top: 15px;
    }

    /* crypto feed css*/
    .crypto_feed_title {

        text-align: left;
        font-weight: bold;
        width: 80%;
        float: left;
        padding: 2px 0 0 2px;
        /*  background-color: black; 
          color: white;*/
        padding: 4px;
        word-wrap: break-word;
        height: 100%;
    }

    .crypto_feed_date {
        width: 20%;
        float: right;
        font-weight: bold;
        padding: 4px;
        text-align: right;
        word-wrap: break-word;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .crypto_feed_bottom {
        padding-left: 10px;
        padding-right: 10px;
    }

    .crypto_feed_tags .row {
        display: flex;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
    }

    .crypto_feed_card {
        border: none;
    }

    .crypto_feed_card iframe {
        padding-bottom: 1px;
    }

    #st-1.st-left {
        left: 0px;
        bottom: 0px;
    }

    .bg-dark,
    .thead-dark {
        background-color: #262626 !important;
    }

    @media screen and (max-width: 600px) {
        .crypto_feed_card {
            height: 230px;

        }

        .sell-your-domain-button {
            margin-bottom: 10px;
            margin-left: 25%;
        }

        .header-logo {
            text-align: Center;
        }

        .header-logo img {
            height: 60px !important;
        }

        .top_logo {
            padding: 0px !important;
        }

        .popup {
            display: none;
        }
    }



    h5.mobile_home_page_top_head {
        color: white;
        background: darkgray;
        font-weight: bolder;
        padding: 5px;
        width: 100%;
        text-align: center;
        font-size: 15px;
        margin-bottom: 0px;
    }

    h5.mobile_home_page_bottom_head {
        color: white;
        padding: 10px;
        background-color: black;
    }



    .btn:hover {
        background-color: #271072 !important;
        color: white !important;
    }




    /* */
    /*
    Blog
    */
    .blog-title-view iframe,
    .blog-title-view img {
        width: 100%;

        padding: 9px;
    }

    .blog-multiple-view-parent_container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .blog-multiple-view-parent_container a,
    .blog-multiple-view-parent_container a:hover {
        text-decoration: none;
        color: black;
    }

    .navbar-toggler {
        border: none !important;
        /* Remove the border */
        background-color: transparent !important;
        /* Set background color to transparent */
    }

    .navbar-toggler-icon {
        background-color: transparent !important;
    }

    @media (max-width: 768px) {
        .crypto-youtube {
            margin: 0;
        }
    }
    .crypto-rates-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa; /* Adjust as needed */
        padding: 10px;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
        white-space: nowrap;
        overflow-x: auto;
    }
    
    .crypto-rate {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #e9ecef; /* Adjust as needed */
    }

    .links-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .links-container a {
        margin: 10px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    
    /* Responsive styling */
    @media only screen and (max-width: 600px) {
        .links-container {
            flex-direction: column;
            align-items: center;
        }
    }

    .footer-credits-padding {
        padding: 0px 37px 0px;
    }

    .bg-blue {
        background: #1662FF;
    }

    .bg-black {
        background: #000000;
    }

    .btn-subscribe { 
        padding: 14.3px, 18.2px, 14.3px, 18.2px;
        border-radius: 8px;
        border: none; 
        background: #CCE5FD;
        color: #1662FF;
        transition: box-shadow 0.3s, transform 0.3s, color 0.3s;
        font-weight: 600;
    }
    
    .btn-subscribe:hover { 
        background: #CCE5FD !important; /* Maintain background color on hover */
        color: #1662FF !important;
        box-shadow: 3px 3px white; /* Solid white shadow on bottom on hover */
    }

    .news-letter-font {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900 !important;
    }

    .pointer-icon {
        position: absolute;
        margin-left: 100px;
        margin-top: -15px;
    }

    hr {
        height: 2px !important;
    }


    .cw-bg-card {
        background: #F3F8FD;
    }

    .crypto-youtube-icon {
        width: 69px;
        height: 69px;
        margin-top: -30px;
        margin-right: 20px;
    }

    .cw-landing-page-btn-view-all {
        display: inline-block; /* Make the link behave like a block element */
        background-size: cover; /* Cover the entire link */
        color: #fff; /* White text color */
        text-decoration: none; /* Remove underline */
        padding: 10px 20px; /* Padding */
        border-radius: 5px; /* Rounded corners */
      }

    .cw-landing-main-card-bg {
        background: #CCE5FD;
    }


    .cw-landing-scrollable-content {
        height: 100%;
        max-height: 380px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    @media screen and (min-width: 1921px) and (min-height: 1081px) {
        .cw-landing-scrollable-content {
            height: 500px;
        }
    }

    .px-6 {
        padding-left: 5rem; 
        padding-right: 5rem;
    }

    .px-7 {
        padding-left: 6rem; 
        padding-right: 6rem;
    }

    .mt-n-10{
        margin-top: -10px;
    }
    
    .no-gutter>[class^="col-"]{
        padding-left: 0;
        padding-right: 0;
    }

    .border-bottom-gray {
        border-bottom: 1px solid #CCCCC9;
    }

    .cw-scrollbar::-webkit-scrollbar {
        width: 12px;
    }
    
    .cw-scrollbar::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    
    .cw-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #007bff;
    }
    
    .cw-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #0056b3;
    }

    .funding-deal-container {
        height: 700px;
        overflow-y: scroll !important;
    }

    .cw-center {
        position: relative;
        width: 700px;
        height: 496px;
        overflow: hidden;
      }
    
      .mask-center-big {
        width: 100%;
        padding-bottom: 8px;
        background: #3297F8;
        clip-path: polygon(0% 15%,0% 0%,15% 0%,85% 0%,100% 0%,100% 15%,100% 85%,85% 85%,79% 100%,46% 100%,40% 85%,0% 85%);
    }
        
    .mask-center-small {
        width: 100%;
        background: white;
        clip-path: polygon(0% 15%,0% 0%,15% 0%,85% 0%,100% 0%,100% 15%,100% 85%,85% 85%,79% 100%,46% 100%,40% 85%,0% 85%);
     
    }
      
    /* News Components */
    .card .info-box {
        background-color: rgba(0,0,0,0.2);
    }
    .card .info-box span {
        color: #fff;
    }
    .cat-buttons {
        gap: 10px;
    }
    .cat-btn {
        background-color: #5095F1;
        border-radius: 6px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        border: 1px solid transparent;
        text-decoration: none;
    }
    .cat-btn:hover {
        background-color: #fff;
        color: #5095F1;
        border: 1px solid #5095F1;
    }

    .tag-btn {
        color: #fff;
        text-decoration: none;
    }
    
    .card-deck .card {
        background-color: #F3F8FD;
    }

    .news-img {
        width: 310px;
    }

    .news-img img {
        max-width: 100%;
    }

    .ad-box {
        background: rgb(105,155,255);
        background: linear-gradient(180deg, rgba(105,155,255,1) 0%, rgba(50,151,248,1) 100%);
        height: 100%;
    }

    .ad-box .acc-img {
        bottom: 0;
        right: 0;
    }

    .newsletter .hero-img {
        margin-bottom: -10px;
    }

    .newsletter-form {
        max-width: 880px;
        margin: 0 auto;
    }

    .newsletter-form input {
        max-width: 315px;
        border-radius: 10px;
    }

    .newsletter-form .btn-primary {
        background-color: #CCE5FD;
        color: #1663FF;
        border-radius: 10px;
    }

    .py-6 {
        padding-top: 5rem; 
        padding-bottom: 5rem;
    }

    .py-7 {
        padding-top: 6rem; 
        padding-bottom: 6rem;
    }

    .px-8 {
        padding-left: 7rem; 
        padding-right: 7rem;
    }

    .px-9 {
        padding-left: 8rem; 
        padding-right: 8rem;
    }

    .px-10 {
        padding-left: 9rem; 
        padding-right: 9rem;
    }

    /* @media screen and (min-width: 1921px) {
        .cw-landing-latest-news-image {
          height: 300px;
        }
      }

    @media screen and (max-width: 1920px) {
        .cw-landing-latest-news-image {
          height: 200px;
        }
    }

    @media screen and (max-width: 1920px) {
        .cw-landing-latest-news-image {
          height: 200px;
        }
    } */
    .news-highlight {
        z-index: 15;
        bottom: -10px;
        position: absolute;
        left: 20px;
    }
    @media (max-width: 576px) {
        .news-highlight {
            left: 0px;
            margin-top: -10px;
        }
    }
    

    /* @media screen and (min-width: 1920px) {
        

        .news-highlight-blog-title {
            margin-top: 50px !important;
        }
    }

    @media screen and (max-width: 1920px) {
        .news-highlight {
         margin-top: -50px !important;
        }
    } */

    .rotate-n45 {
        transform: rotate(-45deg);
    }

     /* News Components */
     .card .info-box {
        background-color: rgba(0,0,0,0.2);
    }
    .card .info-box span {
        color: #fff;
    }
    .category-buttons {
        gap: 10px;
    }
    .cat-btn {
        background-color: #5095F1;
        border-radius: 6px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        border: 1px solid transparent;
        text-decoration: none;
    }
    .cat-btn:hover {
        background-color: #fff;
        color: #5095F1;
        border: 1px solid #5095F1;
    }

    .tag-btn {
        color: #fff;
        text-decoration: none;
    }
    
    .card-deck .card, .gray-bg  {
        background-color: #F3F8FD;
    }

    .news-img {
        min-width: 195px;
    }

    .news-img img {
        max-width: 100% !important;
    }
     .blue-border {
        border-color: #5095F14D;
     }

    .ad-box {
        background: rgb(105,155,255);
        background: linear-gradient(180deg, rgba(105,155,255,1) 0%, rgba(50,151,248,1) 100%);
        height: 100%;
    }

    .acc-img {
        bottom: 0;
        right: 0;
    }

    .container-fluid.newsletter {
        height: 100vh;
    }

    .newsletter .hero-img {
        margin-bottom: -10px;
    }

    .newsletter-form {
        max-width: 880px;
        margin: 0 auto;
    }

    .newsletter-form input {
        max-width: 315px;
        border-radius: 10px;
    }

    .newsletter-form .btn-primary {
        background-color: #CCE5FD;
        color: #1663FF;
        border-radius: 10px;
    }

    /*  */
    .share-box ul {
        list-style: none;
        gap: 10px;
    }

    .news-breadcrumb nav {
        text-decoration: underline;
    }

    .news-breadcrumb .breadcrumb {
        background-color: transparent;
    }

    /*CTA Box*/

    .cta-box {
        background-color: #fff;
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
        min-height: 400px;
        overflow: hidden;
        padding-right: 30% !important;
    }

    .cta-box__info {
        max-width: 820px;
    }

    .cta-box .acc-img {
        bottom: -30px;
        right: 15px;
    }

    .cta-box .pricing__buttons {
        gap: 10px;
    }

    .blue-outline-btn {
        background-color: #CCE5FD;
        color: #1663FF;
        border: 1px solid;
        border-radius: 8px;
        padding: 5px 20px;
        font-weight: 500;
    }

    .cta-box::after {
        content: 'Super Rare 2023 2023 Coming soon Future Nft Super Rare 2023 2023 Coming soon';
        display: block;
        position: absolute;
        font-size: 57px;
        line-height: 70px;
        color: #3297F8;
        max-width: 370px;
        font-weight: 700;
        z-index: 1;
        right: -200px;
        top: -200px;
		animation: rotate-animation 10s infinite linear;
    }

    .cta-box.blue-bg {
        background-color: #1663FF;
        max-width: 100%;
    }

    
    .cta-box.blue-bg .cta-box__info {
        max-width: 100%;
        width: 100%;
    }

    .cta-box.blue-bg .acc-img {
        bottom: -50px;
        right: -30px;
    }

    .cta-box.blue-bg::after {
        left: -200px;
        top: -200px;
        right: 0;
    }

    @keyframes rotate-animation {
        0% {
            transform: rotate(0deg);
      }
      50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .blue-outline-light-bg-btn {
        background-color: #fff;
        color: #1663FF;
        border: 1px solid;
        border-radius: 8px;
        padding: 5px 20px;
        font-weight: 500;
    }

    /* Crypto Youtube */

    .video-duration {
        background-color: #564740;
        width: auto;
        display: inline-block;
        color: #fff;
        padding: 3px 12px;
        right: 15px;
        bottom: 15px;
    }

    .crypto-videos .video-duration {
        background-color: #0E1C29;
    }

    /* Investor Zone */
    .database-box {
        box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.1);
        border: 1px solid transparent;
        height: 100%;
    }

    .database-box:hover {
        border: 1px solid #1663FF;
    }

    .database-box:hover > p {
        font-weight: 700;
    }

    /* Funding Deals */

    .box-shadow-gray {
        box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.1);
    }

    .funding-deals-table td,
    .funding-deals-table th {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Defi ranking boxes */
    .ranking-box {
        transition: 0.3s;
        background-color: #F3F8FD;
    }

    .ranking-box__ranking {
        color: #1662FF5C;
        font-size: 90px;
        font-weight: 700;
        line-height: 80px;
        right: 10px;
        top: 0;
    }

    .ranking-box:hover {
        background-color: #CCE5FD;
    }

    .ranking-box:hover .ranking-box__ranking {
        font-size: 130px;
        right: 15px;
        top: -10px;
    }

    .ranking-box__image img {
        width:50px;
        height:45px;
    }

    /* Company Boxes */
    .company-ranking-box__image {
        max-width: 140px;
        margin: 0 auto 1.5em;
    }
    .company-ranking-box__image img{
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto 1em;
    }

    .top-news-img {
        width: 310px;
    }

    .top-news-img img {
        max-width: 100% !important;
    }

    .top-news-scrollable-content {
        height: 700px;
        overflow-y: scroll;
        overflow-x: hidden;
    }


    .press-releases-img {
        width: 310px;
    }

    .press-releases-img img {
        max-width: 100% !important;
    }

    /* Crypto Rates Nav */
        
    .container-fluid.crypto-rates .livecoinwatch-widget-5 {
        height: 44px !important;
        margin: 0 auto !important;
    }

    .container-fluid.crypto-rates .livecoinwatch-widget-5 img {
        padding: 0 !important;
        margin: 9px 5px 0 0 !important;
        height: 20px !important;
    }
    
    .crypto-rates__boxes {
        gap: 10px;
    }

    .crypto-rates__value.down {
        background-color: #F9AAAA99;
    }

    .crypto-rates__value.down i {
        color: #CB4747;
    }
    
    .crypto-rates__value.up {
        background-color: #B1EF8099;
    }

    .crypto-rates__value.up i {
        color: #3F7C0E;
        transform: rotate(180deg);
    }

    .author__avatar img {
        width: 40px;
        height: 40px;
    }

    .crypto-videos-container {
        height:50vh;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }

    .fundingdeal-logo {
        width: 40px;
        height: 40px;
    }

    /* popup form */
    .custom-modal input[type=email] {
        background-color: #CCE5FD;
        border: 0;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;
        font-size: 12px;
    }

    .custom-modal input[type="submit"] {
        background-color: #1662FF;
        border: 0;
        color: #fff;
        padding: 10px 14px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
    }
    .modal {
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }
    /* .custom-modal input[type="submit"]::after {
        content: '';

    } */


    /* Tablet - 1024 */

    @media screen and (max-width: 1024px) {
        /* Global */
        .tablet-flex-column {
            flex-direction: column;
        }

        /* Crypto Rates */
        .crypto-rates {
            display: none;
        }

        /* Top News */
        .top-news-img, .news-img {
            width: 100%;
            margin-bottom: 20px;
        }

        .featured-news-list .content-col .card-body {
            padding: 0;
        }

        .container-fluid.newsletter {
            height: auto;
        }

        .cta-box {
            padding-right: 1.5rem !important;
        }

        .cta-box .acc-img, .cta-box::after, .cta-box .features, .left-rotating-text::after {
            display: none;
        }

        .customer-logo__img {
            width: 33.33%;
        }


    }

    /* Mobile - 767 */

    @media screen and (max-width: 767px) {
        /* Global */

        .mobile-flex-column {
            flex-direction: column;
        }

        .no-p-mobile {
            padding: 0;
        }

        .h-100 {
            height: auto !important;
        }

        .ad-box {
            margin-top: 30px;
        }

        .customer-logo__img {
            width: 50%;
        }

        .featured-news-main .card {
            min-height: 400px;
        }

    }

    .cw-active {
        background: #CCE5FD;
    }

    .dropdown-menu .border-top {
        border-top: 2px solid #000; /* Adjust the border color and width as needed */
        margin-top: -2px; /* Adjust the negative margin to control the border length */
    }

    .nav-text {
        font-family: 'NeueMontreal', sans-serif !important;
        font-weight: 800 !important;
    }

    .inter-funding-deals{
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
    }

    .fw-700 {
        font-weight: 700 !important;
    }

    .fs-14{
        font-size: 14px !important;
    }
      
    .bg-advertise {
        background: linear-gradient(90.03deg, #1663FF -1.42%, #3297F8 98.06%) !important;
    }